:root
{
  --main-color: #1b584e;
  --secondary-color: #e4c357;
}

.product-form
{
  margin: 1rem 0;
  width: 30rem;
  max-width: 90%;
  margin: auto;

}
.product-form label,
.product-form input
{
  display: block;
  width: 100%;
}

.product-form input
{
  border: 1px solid var(--main-color);
  font: inherit;
  border-radius: 5px;
}

button
{
  font: inherit;
  border: 1px soild var(--secondary-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:active
{
  border: 1px soild var(--main-color);
  background-color: var(--secondary-color);
  color: var(--main-color)
}